<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Biblioteca Egg</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    </head>
    <body>
        <div class="container m-5">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">ID Autor</th>
                        <th scope="col">Nombre Autor</th>
                        <th scope="col">Apellido Autor</th>
                        <th scope="col">Edad Autor</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="autor :${autores}">
                    <tr>
                        <th scope="row" th:text="${autor.id}"></th>
                        <td th:text="${autor.nombre}"></td>
                        <td th:text="${autor.apellido}"></td>
                        <td th:text="${autor.edad}"></td>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/autor/modificar/__${autor.id}__}"><i class="fas fa-father-alt"></i> Modificar </a>
                            <!-- 
                                <form th:action="@{/autor/eliminar/__${autor.id}__}" method="post">
                                <button type="submit"><i class="fas fa-father-alt"></i> Eliminar</button>
                            </form>
                            -->
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <a href="/inicio">
                    <button class="btn btn-primary">Volver</button>
                </a>
            </div>


        </div>

        <div th:if="${error != null}" class="mensajeError">
            <h5>Error!</h5>
            <p th:text="${error}"></p>
        </div>

        <div th:if="${exito != null}" class="mensajeExito"> 
            <h5>Exito!</h5>
            <p th:text="${exito}"></p>
        </div>
    </body>
</html>
