<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario de Creación</title>
        <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
        <link href="/css/CalificarTrabajo.css" rel="stylesheet" type="text/css"/>
        <link href="/css/errorexito.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="/img/logo.png" type="image">
    </head>
    <body>

        <header><nav th:replace="/fragments/navbar :: nav"></nav> </header> 

        <div style="display: block">
            <div th:if="${error != null}" style="background-color: red">
                <h5>Error!</h5>
                <p th:text="${error}"></p>
            </div>
        </div>
        <div class="encuadre">
            <div class="TableBox">

            

                    <div class="formulario"  > 
                        <h2>CALIFIQUE NUESTRO PROVEEDOR</h2>

                        <form th:action="@{/trabajo/modificar/__${trabajo.id}__}" method="post" >
                            <div class="mb-3">


                                <input type="number" min="1" max="5" class="input calificacion-input" name="calificacion" placeholder="CALIFICACION">
                                <input type="text" class="input comentario-input" name="comentario" placeholder="COMENTARIO">
                                <input hidden type="text"  name="estado" th:value="Pendiente">

                                <button class="btn-neon" type="submit">Registrar Calificacion</button>

                        </form>
                    </div>
                </div>

            </div>
        </div>
        
        <div> 
            <footer th:replace="/fragments/footer :: footer"> </footer>
        </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
    </script>
</body>
</html>
