<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Lista de Clientes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link href="/css/login.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <header>    
            <nav th:replace="/fragments/navbar :: nav"></nav> 
        </header>
        <section>

            <div class="cuadrado" style="-- i :0"></div>
            <div class="cuadrado" style="-- i :1"></div>
            <div class="cuadrado" style="-- i :2"></div>

            <div class="container m-5">
                <table class="table table-dark">
                    <thead>
                        <tr >

                            <th scope="col">NOMBRE</th>
                            <th scope="col">APELLIDO</th>
                            <th scope="col">TELEFONO</th>
                            <th scope="col">DNI</th>
                            <th scope="col">DIRECCION</th>
                            <th scope="col">CORREO</th>

                            <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cliente:${clientes}">
                            <th th:text="${cliente.nombre}" ></th>
                            <th th:text="${cliente.apellido}"></th>
                            <th th:text="${cliente.telefono}"></th>
                            <th th:text="${cliente.dni}"></th>
                            <th  th:text="${cliente.direccion}"></th>
                            <th th:text="${cliente.correo}"></th>

                        </tr>
                    </tbody>
                </table>

                <div>
                    <a href="/"> <button class="btn btn-primary" onclick="goBack()">Volver</button></a>
                </div>
        </section>
        <div class="footer">
            <footer th:replace="/fragments/footer :: footer"> </footer>
        </div>
        <script>
            function goBack() {
            window.history.back();
            }
        </script>

    </body>
</html>