<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Lista Clientes</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="icon" href="/img/logo.png" type="image">
    </head>
    <body>
        <div class="container m-5">
            <table class="table table-dark">
                <thead>
                    <tr >
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">DNI</th>
                        <th scope="col">CORREO</th>
                        <th scope="col">TELEFONO</th>
                        <th scope="col">DIRECCION</th>
                        <th scope="col">ROL</th>
                        <th scope="col">PASSWORD</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">MODIFICAR/ELIMINAR</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">CAMBIAR ROL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente:${clientes}">
                             <form th:action="@{/cliente/modificar/__${cliente?.id}__}" method="POST">
                            <div class="inputBox">

                                <input hidden type="text" name="id" th:value="${cliente.id}" >
                                <th><input type="text" class="input" name="nombre" th:value= "${cliente.nombre}"></th>
                                <th><input type="text" class="input" name="apellido"  th:value = "${cliente.apellido}"></th>
                                <th><input type="number" class="input" name="dni"  th:value = "${cliente.dni}"></th>
                                <th><input type="text" class="input" name="correo" th:value = "${cliente.correo}"></th>
                                <th><input type="number" class="input" name="telefono" th:value = "${cliente.telefono}"></th>
                                <th><input type="text" class="input" name="direccion" th:value = "${cliente.direccion}"></th>
                                <th><input type="text" class="input" name="rol" th:value = "${cliente.rol}" disabled=""></th>
                                <th><input type="text" class="input" name="password" placeholder="password" required=""></th>
                            </div>

                                 <th><button type="submit" class="btn-neon">Actualizar</button>
                        </form>
                        
                            <form th:action="@{/cliente/eliminar/__${cliente.id}__}" method="post">
                                <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este cliente?')"><i class="fas fa-father-alt"></i> Eliminar</button>
                            </form>    
                                </th>
                        <th>        
                            <a th:href="@{/admin/modificarRolCliente/__${cliente.id}__}"><i></i> Cambiar Rol </a>
                            
                        <th>
                    </tr>
                </tbody>
            </table>

            <div>


                <a>
                    <button class="btn btn-primary" onclick="goBack()">Volver</button>
                </a>
            </div>
            <script>
                function goBack() {
                window.history.back();
                }
            </script>

            <div th:if="${error != null}" class="mensajeError">
                <h5>Error!</h5>
                <p th:text="${error}"></p>
            </div>

            <div th:if="${exito != null}" class="mensajeExito"> 
                <h5>Exito!</h5>
                <p th:text="${exito}"></p>
            </div>
    </body>
</html>