<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Inicio Proveedor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
        <link href="/css/inicio.css" rel="stylesheet" type="text/css"/>
        <link href="/css/navfoot.css" rel="stylesheet" type="text/css"/>
        <link href="/css/errorexito.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="/img/logo.png" type="image">
    </head>
    <body>

        <header>
            <nav th:replace="/fragments/navbar :: nav"></nav> 
        </header>
        <!--        Mensaje de inicio de sesion exitoso-->

      <div th:if="${session.exito}" class="exito" >
            <div class="bloque">
                <h5 class="texto-exito" >Exito!</h5>
                <p class="texto-exito-mensaje" th:text="${session.exito}"></p>
            </div>   
        </div>
       <div th:if="${session.error != null}" class="mensajeError">
            <div class="bloque">
                <h5 class="texto-error">Error!</h5>
                <p class="texto-error-mensaje" th:text="${session.error}"></p>
            </div> 
        </div>

        <section>

            <div class="content">
                <h1>MENU PROVEEDORES</h1>
                <p th:if="${session.usuarioSesion != null}" th:text="'Bienvenido '+ ${session.usuarioSesion.nombre} + ' !'" align="center"></p>
            </div>



            <div class="imagenProve" style="height: 400px;">
                <img th:src="@{/imagen/perfil/__${session.usuarioSesion.id}__}" style="width: 400px;" alt="Imagen Perfil">
                <!--
                <p th:if="${session.usuarioSesion != null}" th:text="'Oficio: '+  ${session.usuarioSesion.oficio} + ' Breve descripcion: ' +  ${session.usuarioSesion.descripService} '" >
                    
                </p>           -->
            </div>

            <div class="options">

                <div class="card-body" align="center" width="120px" height="120px">
                    <div class="card shadow-sm">
                        <h3 class="card-title ">Listado de trabajos</h3>
                        <a th:if="${session.usuarioSesion != null}" th:href="@{/proveedor/listaTrabajos/__${session.usuarioSesion.id}__}">
                            <img class="imgTrabajo " src="../img/trabajo.png" alt="Listado de trabajos">

                        </a>
                    </div>

                </div>
                <div class="card-body" align="center" width="120px" height="120px">
                    <div class="card shadow-sm">
                        <h3 class="card-title ">Editar perfil</h3>
                        <a th:if="${session.usuarioSesion != null}" th:href="@{/perfil}">
                            <img class="imgTrabajo " src="../img/edit.png" alt="editar">

                        </a>
                    </div>

                </div>
            </div>
        </section>

        <div >

            <footer th:replace="/fragments/footer :: footer"> </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
        </script>
    </body>
</html>