<!DOCTYPE html>

<html>
    <head>
        <title>Todas las listas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    </head>
    <body>
        <h1>Listas Disponibles :</h1>
        
        <a href="/autor/lista">
            <button class="btn btn-primary">
                Autor Lista
            </button>
        </a>
        
        <a href="/libro/lista">
            <button class="btn btn-primary">
                Libro Lista
            </button>
        </a>
        
        <a href="/editorial/lista">
            <button class="btn btn-primary">
                Editorial Lista
            </button>
        </a>
    </body>
</html>
