<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/login.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
        <link href="/css/errorexito.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="/img/logo.png" type="image">
        <title>Login</title>
    </head>

    <body>
        <header>
            <nav th:replace="/fragments/navbar :: nav"></nav> 
        </header>
        
         <div th:if="${exito != null}" class="exito" >
            <div class="bloque">
                <h5 class="texto-exito" >Exito!</h5>
                <p class="texto-exito-mensaje" th:text="${exito}"></p>
            </div>   
        </div>
        <div th:if="${error != null}" class="mensajeError">
            <div class="bloque">
            <h5 class="texto-error">Error!</h5>
            <p class="texto-error-mensaje" th:text="${error}"></p>
            </div> 
        </div>
        
        <section>

            <div class="LoginBox">
                <div class="LoginContainer">
                    <div class="LoginForm">
                        <h2>Iniciar Sesión</h2>
                        <form th:action="@{/logincheck}" method="POST">
                            <div class="inputBox">
                                <input autocomplete="off" placeholder="Email" class="input-field" type="text" name="correo">
                            </div>
                            <div class="inputBox">
                                <input placeholder="Password" class="input-field" type="password" name="password">
                            </div>
                            <button href="" class="btn-neon">
                                <span id="span1"></span>
                                <span id="span2"></span>
                                <span id="span3"></span>
                                <span id="span4"></span>
                                Ingresar
                            </button>
                            <p class="Registro" style="text-align: center">¿No Tiene Una Cuenta?
                                <br>
                                <br>
                                <a href="/cliente/registrar">Resgistrese como Cliente</a>
                                <br>
                                <a href="/proveedor/registrar">Registrese como Proveedor</a>
                            </p>
                            
                                
                         
                        </form>
<!--                        <div class="error">
                            <div th:if="${error != null}" class="error-interno">
                                <h4>Error!</h4>
                                <p th:text="${error}"></p>
                            </div>
                        </div>-->
                    </div>
                </div>

            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
            </script>
        </section> 
        <div>
            <footer th:replace="/fragments/footer :: footer"> </footer>
        </div>

    </body>
</html>