<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xlmns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!--    <head  th:replace="/fragments/head :: head"> </head>-->
    <head>
        <title>Panel Administrador</title>

        <!--    <img src="../static/img/logo.png "/>-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>

        <link href="/css/panelAdmin.css" rel="stylesheet" type="text/css"/>
        <link href="/css/errorexito.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="/img/logo.png" type="image">


    </head>

    <nav class="navbar navbar-expand-lg">
        <div class="contenedor-navbar">
            <div class="item-navbar">
                <div>
                    <img src="../img/logo.png"  alt="HomeFix" width="50" height="35">
                    <a class="navbar-brand" href="/" >HomeFix</a> 
                </div>
                <!--                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>-->

                <!--                <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cliente
                        </a>
                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item" href="/cliente/lista">Lista Cliente</a></li>
                            <li><a class="dropdown-item" href="/cliente/registrar">Crear Nuevo Cliente</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Proveedor
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/proveedor/lista">Lista Proveedores</a></li>
                            <li><a class="dropdown-item" href="/proveedor/registrar">Crear Nuevo Proveedor</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Trabajo
                        </a>
                        <ul class="dropdown-menu">             
                            <li><a class="dropdown-item" href="/trabajo/listaTrabajos">Lista Trabajos</a></li>                 
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Perfil
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/perfil">Ver perfil</a></li>
                            <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li> 

                        </ul>
                    </li>
                </ul>
            </div>
        </div>




    </nav>

    <body>

        <div th:if="${exito != null}" class="exito" >
            <div class="bloque">
                <h5 class="texto-exito" >Exito!</h5>
                <p class="texto-exito-mensaje" th:text="${exito}"></p>
            </div>   
        </div>
        <div th:if="${error != null}" class="mensajeError">
            <div class="bloque">
                <h5 class="texto-error">Error!</h5>
                <p class="texto-error-mensaje" th:text="${error}"></p>
            </div> 
        </div>

        <div class="content">
            <h1>Bienvenido al panel administrador!</h1>
            <p style="color: whitesmoke; text-align: center" th:if="${session.usuarioSesion != null}" th:text="'Hola '+ ${session.usuarioSesion.nombre}"></p>

            <div class="imgAdmin" >
                <img th:src="@{https://www.webdox.cl/hubfs/00-MARKETING-OFFICIAL/Blog/agosto-2022/webdox-img-que-hace-un-administrador-de-contratos.jpg}" alt="Imagen Perfil"/>
            </div>

        </div>

        <div >
            <footer th:replace="/fragments/footer :: footer"> </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>
