<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario de Creación</title>
        <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
        <link href="/css/registro.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <header><nav th:replace="/fragments/navbar :: nav"></nav> </header> 

        <div class="formulario"  > 
            <h1 class="tituloform">Formulario de Creación</h1>

            <form th:action="@{/trabajo/registro}" method="post">
                <div class="mb-3">

                    <input hidden th:value="${session.usuarioSesion.id}" name="idCliente">
                    <input hidden th:value="${proveedor.id}" name="idProveedor">
                    <input type="text" class="input" name="HsTrabajo" placeholder="Horas del Trabajo">
                    <input hidden type="text" th:value="0" name="presupuesto">
                    <input hidden type="text" th:value="0" name="calificacion">
                    <input hidden type="text"  name="estado" th:value="Pendiente">
           
                    
                    <div/>

                    <button class="mx-auto d-block" type="submit">Solicitar el Trabajo</button>
            </form>
        </div>
        <div style="display: block">
            <div th:if="${error != null}" style="background-color: red">
                <h5>Error!</h5>
                <p th:text="${error}"></p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
        </script>
    </body>
</html>