<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registrar Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/registro.css"/>
    </head>
    <body>
        <div class="form-box">
            
            <form class="form" th:action="@{/registro}" method="POST" enctype="multipart/form-data">
                
                <span class="title">Registrate</span>
                <span class="subtitle">Create a free account with your email.</span>
                <div class="form-container">
                    <input type="text" class="input" name="nombre" placeholder="Nombre" th:value="${nombre}">
                    <input type="email" class="input" name="email" placeholder="Email" th:value="${email}">
                    <input type="file" class="input" name="archivo">
                    <input type="password" class="input" name="password" placeholder="Password" th:value="${password}">
                </div>
                <button type="submit">Registrate</button>
            </form>

            <div class="form-section">
                <p>Tenes una cuenta? <a href="/login">Ingresa</a> </p>
            </div>
        </div>


        <div style="display: block">
            <div th:if="${error != null}" style="background-color: red">
                <h5>Error!</h5>
                <p th:text="${error}"></p>
            </div>
        </div>



    </body>
</html>
