
<!--<link rel="stylesheet" type="text/css" href="/static/css/footer.css">-->

<footer class="footer fixed-bottom">
    <link href="/css/navfoot.css" rel="stylesheet" type="text/css"/>
    <ul class="nav justify-content-center border-bottom pb-1 mb-1 ">
        <li class="nav-item"><a href="/" class="nav-link px-2 ">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 ">Contacto</a></li>
          
    </ul>
    <p class="text-center">© 2023 Home Fix, Inc</p>
</footer>
   