
<nav class="navbar navbar-expand-lg">
    <link href="/css/navfoot.css" rel="stylesheet" type="text/css"/>
    <div class="contenedor-navbar">
        <div class="item-navbar">
            <div>
                <img src="/img/logo.png"  alt="HomeFix" width="50" height="35">
                <a class="navbar-brand" href="/" >HomeFix</a> 
            </div>
            <!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>-->



            <!--        <div class="collapse navbar-collapse" id="navbarNav">-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ADMIN')"  href="/admin/dashboard">Menú Administrador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('USER')"  href="/inicio">Menú Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('PROVEEDOR')"  href="/inicio">Menú Proveedor</a>
                </li>
<!--                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('ADMIN')" aria-current="page" href="###">Lista Calificacion</a>
                </li>-->
<!--                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('USER')" th:if="${session.usuarioSesion != null}" th:href="@{/cliente/listaTrabajos/__${session.usuarioSesion.id}__}">Lista Trabajos Solicitados</a>
                </li>-->
<!--                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('ADMIN')"  href="/cliente/lista">Lista cliente</a>
                </li>-->
<!--                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasRole('PROVEEDOR')" th:if="${session.usuarioSesion != null}" th:href="@{/proveedor/listaTrabajos/__${session.usuarioSesion.id}__}">Lista Trabajos</a>
                </li>-->
<!--                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAnyRole('ADMIN', 'USER', 'PROVEEDOR')" href="/perfil"> Editar Perfil</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAnyRole('ADMIN', 'USER', 'PROVEEDOR')" href="/logout">Cerrar sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.usuarioSesion == null}" href="/cliente/registrar">Registrar Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.usuarioSesion == null}" href="/proveedor/registrar">Registrar Proveedor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:if="${session.usuarioSesion == null}" href="/login">Ingresar</a>
                </li>

            </ul>
        </div>
    </div>


</div>
<nav/>