.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Puedes ajustar el color de fondo según tus preferencias */
    color: white; /* Puedes ajustar el color del texto según tus preferencias */
    text-align: center;
    padding: 10px;
  }


  /* ALBUM */
  
  .hidden{
    display: none;
  }
  
  .link{
    text-decoration: none;
    color: rgb(245, 231, 231);
    font-weight: 400;
    padding: 10px;
  }
  
  .imagenLogo{
    height: 280px;
  }
  
  .mensaje{
    margin-top: 5rem;
  }