* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
}
.box {
    position: relative;
    height: 90vh;   
    justify-content: center;
    margin-bottom: 120px;
}

.container {
    position: relative;

    width: 60%;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 50px;
   
   

}

.imagenProve{
    position:relative;
}

.contacto {
    
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.contacto h2 {
    position: relative;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
   
}

.contacto h2::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 180px;
    height: 4px;
    background: #fff;
}


.contacto .btn-neon {

    background: #fff;
    color: #666;
    width: 60%;
    cursor: pointer;
/*    margin-bottom: 20px;*/
    transition: 0.3s;
    align-items: center;
    margin-left: 150px;
}

.btn-neon{
/*    width: 100%;*/
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid  rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
/*    position: relative;
    display: inline-block;*/
/*    padding: 15px 15px;*/
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: 0.2s;
}

.btn-neon:hover{
    background: #04a4ec;
    box-shadow: 0 0 10px whitesmoke, 0 0 40px whitesmoke, 0 0 80px whitesmoke;
    transition-delay: 1s;
    color: #fff;
}
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#21222c);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#21222c);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#21222c);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#21222c);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


 span.infoProve {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
   
    
     .box {
        margin-top: 0; /* Ajusta el margen superior */
    }

    .container {
        width: 80%; /* Ajusta el ancho del contenedor de login */
        margin-top: 20px; /* Ajusta el margen superior del contenedor de login */
    }

    .contacto {
        padding: 20px; /* Ajusta el relleno del formulario de login */
    }

    .contacto h2 {
        margin-bottom: 20px; /* Ajusta el margen inferior del título del formulario */
    }

    .btn-neon {
        padding: 10px 20px; /* Ajusta el relleno del botón */
        margin-top: 20px; /* Ajusta el margen superior del botón */
    }
    
    .footer {
        display: none;
    }
}
.proveedor-info {
    display: flex;
    align-items: center;
}

.imagenProve {
    margin-right: 50px; /* Ajusta el espacio entre la imagen y la información */
margin-bottom: 50px;
}