* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
}

body {
    overflow: hidden;
    background-image: url('../img/fondo3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:  cover;
    overflow-y: auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
   
}

.TableBox {
    position: relative;   
    padding-left: 150px;
}

.fixed-bottom {
    bottom: -40px;
}

.TableContainer {
    top: -15px;
    left: 30px;
    position: relative;
    width: 950px;
    min-height: 510px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 150px;

}

.TableList {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: -100px;
    padding-right: 30px;
    padding-left: 50px;
    max-height: 500px; 
    overflow-y: auto;
    
}
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.TableList h2 {
    position: relative;
    color: whitesmoke;
    font-size: x-large;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    padding: 38px;
}



table {
    color: #001133;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
    
}

thead {
    background: #00aae4;
    position: relative;
    padding: 8px
    overflow-y: scroll;
    
}

tr th:first-child {
          border-radius: 6px 0px 0px 0px;
        }
tr th:last-child  {
          border-radius: 0px 6px 0px 0px;
        }


th {
    padding: 8px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

tbody tr:hover {
    background: rgba(255, 255, 255, 0.2);
}

.boton {
    padding-top: 30px;
}

.btn-neon{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;  
    border-radius: 10px;
    border: 1px solid  rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    position: relative;
    display: inline-block;
    color: whitesmoke;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.1s;
    padding: 5px;
}

.btn-neon:hover{
    background: #04a4ec;
    box-shadow: 0 0 10px whitesmoke, 0 0 40px whitesmoke, 0 0 80px whitesmoke;
    transition-delay: 1s;
    color: #fff;
}

.btn-neon span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#21222c);
}

.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#21222c);
}

.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#21222c);
}

.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#21222c);
}

.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-primary{
    display: flex;
    margin: 20px auto;
}

.titulos{
     margin: 30px auto;
     text-align: center;
}

td, th {
    text-align: center;
}

/* Consultas de medios para hacer el diseño más responsive */
@media only screen and (max-width: 768px) {
    section {
        background: #00aae4;
    }

    section .cuadrado {
        display: none; /* Oculta los cuadrados en pantallas más pequeñas */
        background: #00aae4;
    }

    .LoginBox {
        margin-top: 0; /* Ajusta el margen superior */
    }

    .LoginContainer {
        width: 80%; /* Ajusta el ancho del contenedor de login */
        margin-top: 20px; /* Ajusta el margen superior del contenedor de login */
    }

    .LoginForm {
        padding: 20px; /* Ajusta el relleno del formulario de login */
    }

    .LoginForm h2 {
        margin-bottom: 20px; /* Ajusta el margen inferior del título del formulario */
    }

    .TableContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        overflow-x: auto; /* Agrega barra de desplazamiento horizontal */
        overflow-y: hidden; /* Deshabilita la barra de desplazamiento vertical */
    }


    .TableList {
        padding-left: 10px; /* Ajusta el relleno izquierdo */
        padding-right: 10px; /* Ajusta el relleno derecho */
        overflow-y: hidden; /* Agrega barra de desplazamiento vertical */
        max-height: 300px; /* Establece la altura máxima de la tabla, ajusta según tus necesidades */
    }

    .btn-neon {
        padding: 10px 20px; /* Ajusta el relleno del botón */
        margin-top: 20px; /* Ajusta el margen superior del botón */
    }

    
    .rechazado{
        color: red;
        
    }
}