
<<<<<<< HEAD
footer{
    background-color: #21222c;
    color: whitesmoke;
    margin-top: 10px;
    opacity: 0.9;
}
=======





>>>>>>> 11286c48d9cc65469f1718275bf18950c09a4c2b
/*.navbar-brand, .navbar-toggler-icon, .navbar-toggler  {
    color: whitesmoke;
    font-family: sans-serif bolder;
}*/
.navbarNav, .navbar, .nav, .nav-item, .nav-link, .navbar-brand, .navbar-collapse, .navbar-expand-lg, .navbar-nav, .navbar-toggler, .navbar-toggler-icon  {
    color: whitesmoke !important;
    font-family: sans-serif bolder !important;
    background-color: #21222c !important;
     font-family: sans-serif bolder;
     opacity: 0.9;
}