body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D4E6F1;
    margin-top: 25px;
}


.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    margin: 400px;
    border-radius: 20px;
    margin-top: 50px;
    background-color: #21222c;
    
    
}

.tituloform{
    color: #005ce6;
        }
        
 form button{
    background-color: #005ce6; 
    padding: 10px 20px;
/*    margin: 400px;*/
    border-radius: 15px;
    margin-top: 20px;
    color: whitesmoke;
    height: 40px;
    width: 40%;
    align-items: center;
}
.input {
  background: transparent;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 20px;
  
}
